table {
  
  width: 50%;
  color:#800080;
  font-size:30px;
  border: 5px solid #400080; 
}
 td {
 	border: 1px solid #0000ff; 
  padding: 8px;
   margin-right: 100px;
  text-align: left;
 
}
h2{
	color:#800080;
	font-size:50px;
}
#div1{
	background-color:#008080
}
